header {
    background-color: rgb(5, 53, 45);
    text-align: center;
    height: 100px;
    padding: 10px;
    color: rgb(245, 175, 175);
}
aside {
    background-color: rgb(54, 54, 5);
    color: rgb(255, 157, 214);
    height: 100vh;
    padding: 10px 0;
    width: 20%;
    float: left;
    text-align: center;
}
main{
    color: rgb(173, 164, 255);
    background-color: rgb(25, 44, 13);
    height: 100vh;
    padding: 10px 0;
    width: 80%;
    float: left;
    
}
footer {
    padding: 10px 0;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
    float: left;
    width: 100%;
}
